{% extends 'Home/base.html' %}

{% block title %}
Ecommerce | Home
{% endblock %}

{% block content %}
<div class="row m-5">
    <div class="col-9"></div>
    <div class="col-3">
        <a href="{% url 'add_product' %}" class="btn btn-secondary">Add New Product</a>
    </div>
</div>

<div class="row m-3">
    {% for product in products %}
        <div class="col-3">
            <div class="card" style="width: 15rem;">
                <img src="{{ product.product_image.url }}" class="card-img-top" alt="..." width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }} <label>{{ product.category.name }}</label></p>
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
